/* fonts */    
/* color */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
ul li {
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: #ebe3e3;
}

.header {
  width: 100%;
  color: #ebe3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 80px;
  align-items: center;
  z-index: 10;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}
.header-logo {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  padding: 1rem 0.4rem;
}
.header-menu-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 2px #ebe3e3);
}
.header-menu-container ul li {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 1rem;
  border-bottom: 2px solid transparent;
  transition: 0.5s ease-out;
  font-weight: 700;
}
.header-menu-container ul li:hover {
  border-bottom: 2px solid #6610f2;
}

.banner {
  background-color: #000;
}
.banner-container {
  padding-bottom: 2rem;
  max-width: 1170px;
  margin: 0 auto;
}
.banner-container .banner-top {
  height: 85vh;
  width: 100vw;
  color: #ebe3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.banner-container .banner-top h1 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
}
.banner-container .banner-cards {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.banner-container .banner-cards .card {
  width: 30%;
  height: 350px;
  background-color: #1C1F22;
  transition: color 1s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: inset 0 0 0 #6610f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.2rem;
  transition: 2s;
}
.banner-container .banner-cards .card:hover {
  color: #ebe3e3;
  filter: drop-shadow(0px 0px 15px #6610f2);
  box-shadow: inset 350px 0 0 #6610f2;
  transform: translateY(-30px);
}
.banner-container .banner-cards .card-content p {
  padding-top: 1rem;
}
.banner-container .banner-cards .card .foto {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  filter: grayscale(80%);
}
.banner-container .banner-cards .card .foto-1 {
  background-image: url("../img/html.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 55%;
}
.banner-container .banner-cards .card .foto-2 {
  background-image: url("../img/css.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 40%;
}
.banner-container .banner-cards .card .foto-3 {
  background-image: url("../img/js.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 90%;
}
.banner-container .banner-cards .card .foto:hover {
  filter: grayscale(0%);
  transform: translateY(20px);
}

.projetos {
  background-color: #1C1F22;
}
.projetos-container .topo {
  max-width: 1170px;
  margin: 0 auto;
}
.projetos-container p {
  color: #6610f2;
  font-size: 1.2rem;
}
.projetos-container .lista-projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.projetos-container .lista-projetos .item {
  width: 30%;
  height: 200px;
  margin: 1rem;
  border: 1px solid #6610f2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -8px 0 0 transparent;
  transition: 1.5s;
  padding: 0;
}
.projetos-container .lista-projetos .item:hover {
  box-shadow: -3px 0 0 #6610f2;
  filter: drop-shadow(0px 0px 5px #6610f2);
  transform: translateY(-10px);
}
.projetos-container .lista-projetos .item:hover .item-cover {
  background-color: rgba(0, 0, 0, 0.9176470588);
}
.projetos-container .lista-projetos .item:hover .item-cover h2, .projetos-container .lista-projetos .item:hover .item-cover p {
  transition: 1s;
  color: #ebe3e3;
}
.projetos-container .lista-projetos .item:hover .item-cover i {
  color: #ebe3e3;
  padding: 0 5px;
}
.projetos-container .lista-projetos .item:hover .item-cover .icones {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.projetos-container .lista-projetos .item:hover .item-cover .icones .github {
  color: #ebe3e3;
  font-size: 24px;
  width: 30px;
}
.projetos-container .lista-projetos .item:hover .item-cover .icones .small {
  color: #ebe3e3;
  font-size: 14px;
  padding: 0 5px;
}
.projetos-container .lista-projetos .item:hover .item-cover .icones a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projetos-container .lista-projetos .item:hover .item-cover .icones .git {
  padding-left: 9px;
}
.projetos-container .lista-projetos .item-cover {
  width: 100%;
  height: 200px;
  transition: 1s;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.projetos-container .lista-projetos .item-cover h2, .projetos-container .lista-projetos .item-cover p, .projetos-container .lista-projetos .item-cover i, .projetos-container .lista-projetos .item-cover small {
  color: transparent;
  transition: 1.2s;
}
.projetos-container .lista-projetos .item-cover p {
  font-size: 0.9rem;
  padding: 1rem 0;
}
.projetos-container .lista-projetos .item-cover i {
  font-size: 1.3rem;
}
.projetos-container .lista-projetos .item-cover .small, .projetos-container .lista-projetos .item-cover git {
  color: transparent;
}
.projetos-container .lista-projetos .item-1 {
  background-image: url("../img/electrum.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
.projetos-container .lista-projetos .item-2 {
  background-image: url("../img/barbeiro.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
.projetos-container .lista-projetos .item-3 {
  background-image: url("../img/poise.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
.projetos-container .lista-projetos .item-4 {
  background-image: url("../img/games.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
.projetos-container .lista-projetos .item-5 {
  background-image: url("../img/pizzaria integrale.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
.projetos-container .lista-projetos .item-6 {
  background-image: url("../img/combo+.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
.projetos-container .lista-projetos .item-7 {
  background-image: url("../img/paraiso.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
.projetos-container .lista-projetos .item-8 {
  background-image: url("../img/moxila-alura.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.btn {
  width: 200px;
  height: 50px;
  border: 1px solid #6610f2;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 4px #9E64FB);
  transition: 0.5s;
  margin-top: 1rem;
}
.btn:hover {
  border: 5px solid #ebe3e3;
  filter: drop-shadow(0px 0px 4px #ebe3e3);
}

.title-p {
  color: #ebe3e3;
  font-size: 3rem;
  padding: 1rem 0;
}

/*# sourceMappingURL=app.css.map */
